<ion-content>
  <div class="header">
    <h1>Dashboard</h1>
    <div class="profile" (click)="showUser()">
      <div class="profile_details">
        <ion-icon name="person-circle-outline" id="user"></ion-icon>
        <p class="username" id="username">{{username}}</p>
      </div>
      <p class="name" id="name">{{name}}</p>
    </div>
  </div>
  <div class="wrapper1">
    <ion-card class="card1 card">
      <ion-card-content>
        <p class="wrapper1_content">Registered Platforms</p>
      </ion-card-content>
      <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" [style.--value]="value"
        [style.--registeredPlatform]="registeredPlatform"></div>
    </ion-card>
    <ion-card class="card2 card">
      <ion-slides [options]="slideOpts" pager="false">
        <ion-slide>
          <img
            [src]="theme === 'dark' ? '../../../../assets/Utils/img1-dark.png' : '../../../../assets/Utils/img1-light.png'"
            class="slide-image">
        </ion-slide>
        <ion-slide>
          <img
            [src]="theme === 'dark' ? '../../../../assets/Utils/img2-dark.png' : '../../../../assets/Utils/img2-light.png'"
            class="slide-image">
        </ion-slide>
      </ion-slides>
    </ion-card>
    <ion-card class="card3 card">
      <h3>Platforms Supported</h3>
      <ion-slides centeredSlides="true" [options]="slideOpts" pager="false">
        <ion-slide>
          <img src="../../../../assets/Platforms/codechef.png" alt="">
          <h3>Codechef</h3>
        </ion-slide>
        <ion-slide>
          <img src="../../../../assets/Platforms/codeforces.png" alt="">
          <h3>Codeforces</h3>
        </ion-slide>
        <ion-slide>
          <img src="../../../../assets/Platforms/atcoder.png" alt="">
          <h3>Atcoder</h3>
        </ion-slide>
        <ion-slide>
          <img src="../../../../assets/Platforms/leetcode.png" alt="">
          <h3>Leetcode</h3>
        </ion-slide>
        <ion-slide>
          <img src="../../../../assets/Platforms/spoj.png" alt="">
          <h3>SPOJ</h3>
        </ion-slide>
      </ion-slides>
    </ion-card>
  </div>
  <div class="wrapper2">
    <ion-card>
      <div class="contest_header">
        <ion-label class="heading">Upcoming Contests</ion-label>
        <div class="search_by">
          <div class="search">
            <ion-select (ionChange)="platformChange($event.target.value)" cancelText="Cancel" okText="Okay"
              placeholder="Platform">
              <ion-select-option value="all">All</ion-select-option>
              <ion-select-option value="codechef">Codechef</ion-select-option>
              <ion-select-option value="codeforces">Codeforces</ion-select-option>
              <ion-select-option value="leetcode">Leetcode</ion-select-option>
              <ion-select-option value="hackerrank">Hackerrank</ion-select-option>
              <ion-select-option value="hackerearth">Hacker Earth</ion-select-option>
              <ion-select-option value="atcoder">Atcoder</ion-select-option>
              <ion-select-option value="spoj">SPOJ</ion-select-option>
            </ion-select>
          </div>

          <div class="search">
            <ion-select (ionChange)="timeChange($event.target.value)" cancelText="Cancel" okText="Okay"
              placeholder="Time">
              <ion-select-option value="all" selected="all">All</ion-select-option>
              <ion-select-option value="today">Today</ion-select-option>
              <ion-select-option value="tomorrow">Tomorrow</ion-select-option>
              <ion-select-option value="week">Week</ion-select-option>
              <ion-select-option value="month">Month</ion-select-option>
            </ion-select>
          </div>
        </div>
      </div>
      <ion-card-content class="contest" *ngIf="contests.length>0; else nodata">
        <ion-list class="contest_heading_header">
          <ion-label class="contest_heading_label">
            Name
          </ion-label>
          <ion-label class="contest_heading_label">
            Platform
          </ion-label>
          <ion-label class="contest_heading_label">
            Starts in
          </ion-label>
          <ion-label class="contest_heading_label duration">
            Duration
          </ion-label>
        </ion-list>
        <ion-list *ngFor="let contest of contests">
          <ion-label>
            <a [href]="contest.url" target="_blank">
              {{contest.name}}
            </a>
          </ion-label>
          <ion-label>
            {{contest.site}}
          </ion-label>
          <ion-label>
            {{contest.startIn}}
          </ion-label>
          <ion-label class="duration">
            {{contest.duration}}
          </ion-label>
        </ion-list>
      </ion-card-content>
      <ng-template #nodata>
        <span class="no_data">No Contest</span>
      </ng-template>
    </ion-card>
  </div>
</ion-content>