<ion-content>
  <div class="container">
    <ion-buttons slot="start" class="back_button">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="theme-toggle">
      <app-theme-toggle></app-theme-toggle>
    </ion-buttons>
    <div class="wrapper">
      <h1 class="heading-2">Sign Up</h1>
      <span class="switch_page heading-4">Already have an account? <a routerLink="/login"
          class="switch_page_link link">Sign
          in</a></span>
      <app-social></app-social>
      <div class="seperator">
        <span class="line"></span>
        <span class="or heading-3">OR</span>
        <span class="line"></span>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <ion-item lines="none">
          <ion-label position="floating">Full Name</ion-label>
          <ion-input type="text" name="name" formControlName="name"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" name="username" formControlName="username"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" name="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="{{ hide ? 'text' : 'password' }}" name="password" formControlName="password"></ion-input>
          <ion-icon class="eye_icon" title="{{ hide ? 'Show' : 'Hide' }}"
            [name]="hide ? 'eye-outline' : 'eye-off-outline'" (click)="eye()"></ion-icon>
        </ion-item>
        <ion-button type="submit" class="submit">Sign Up</ion-button>
      </form>
      <span class="bottom-description heading-5">By signing up, you agree to our Terms of Use and to receive CP
        Dashboard emails &
        updates</span>
    </div>
  </div>
</ion-content>