.danger {
  color: red;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .back_button {
    position: fixed;
    top: 15px;
    left: 15px;
  }

  .theme-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: var(--text-color-1);
    }

    .switch_page {
      font-size: 0.9rem;
      text-align: center;
      color: var(--text-color-1);
    }

    .timer {
      color: #444;
      margin-top: 1.5rem;
    }

    #time_left {
      font-size: 0.9rem;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 2rem 0;

      ion-item {
        border-bottom: 0.1px solid #333;
        margin: 0.5rem 0;

        .eye_icon {
          position: absolute;
          right: 15px;
          top: 25px;
          align-self: flex-end;
          cursor: pointer;
          z-index: 5;
        }
      }

      .submit {
        align-self: center;
        --background: var(--button-background);
        color: var(--button-text-color);
      }

      .submit1 {
        margin-top: 3rem;
      }

      ion-button {
        height: 50px;
        width: 150px;
        --border-radius: 15px !important;
        font-size: 14px;
        font-weight: 300px;
        --background: #000;
        color: #fff;
      }

      .button {
        margin: 1rem 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }

    }

    .bottom-description {
      text-align: center;
      font-size: 0.7rem;
    }
  }
}

@media(max-width: 480px) {
  .container {
    .wrapper {

      form {
        ion-button {
          width: 130px;
        }
      }
    }
  }
}