<ion-content>
  <div class="container">
    <ion-buttons slot="start" class="back_button" (click)="disableTimer()">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="theme-toggle">
      <app-theme-toggle></app-theme-toggle>
    </ion-buttons>
    <div class="wrapper" id="form1">
      <h1>Reset Password</h1>
      <span class="switch_page">Enter your email address & we'll send you an OTP to reset password.</span>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="submitEmail()">
        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" name="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-button type="submit" class="submit submit1">Send</ion-button>
      </form>
    </div>

    <div class="wrapper" id="form2">
      <h1>Reset Password</h1>
      <span class="switch_page">Enter OTP that is sent to your registered mail address.</span>
      <span class="timer" id="timer">Time left : <span id="time_left"></span></span>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <ion-item lines="none">
          <ion-label position="floating">Enter OTP</ion-label>
          <ion-input type="numeric" name="otp" formControlName="otp"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="{{ hide ? 'text' : 'password' }}" name="password" formControlName="password"></ion-input>
          <ion-icon class="eye_icon" *ngIf="hide" title="Show" name="eye-outline" (click)="eye()"></ion-icon>
          <ion-icon class="eye_icon" *ngIf="!hide" title="Hide" name="eye-off-outline" (click)="eye()"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="{{ hide ? 'text' : 'password' }}" name="confirmPassword"
            formControlName="confirmPassword"></ion-input>
          <ion-icon class="eye_icon" *ngIf="hide" title="Show" name="eye-outline" (click)="eye()"></ion-icon>
          <ion-icon class="eye_icon" *ngIf="!hide" title="Hide" name="eye-off-outline" (click)="eye()"></ion-icon>
        </ion-item>
        <div class="button">
          <ion-button (click)="back()">Back</ion-button>
          <ion-button type="submit" class="submit">Submit</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>