ion-card {
  padding: 0 !important;
  margin: 0 !important;
}

ion-content {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 70px;
  width: calc(100% - 70px);
  height: 100%;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0 0 1.3rem;

    img {
      height: 50px;
      padding: 0.5rem;
      background-color: white;
      border-radius: 10%;
    }

    h1 {
      margin: 0 0 0 1rem;
      font-size: 2rem;
      color: var(--text-color-1);
    }
  }

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    margin: 1rem 0 0.5rem 0;

    .box {
      width: 100%;
      display: grid;
      grid-gap: 0.5rem;
      grid-template-columns: 74% 24%;
      justify-content: space-evenly;

      .wrapper1 {
        order: 1;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;

        .profile {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1rem !important;

          img {
            height: 70px;
            border-radius: 12px;
          }

          .user {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 2rem;

            p {
              margin: 0;
            }

            .username {
              margin-bottom: 1rem;
              color: var(--text-color-2);
            }

            .rank {
              font-size: 1rem;
              align-self: flex-end;
              justify-self: flex-end;
              color: var(--text-color-2);

              .no {
                margin-left: 0.2rem;
                color: var(--text-color-1);
              }
            }
          }
        }

        .problems {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 1rem;

          ion-card {
            padding: 1rem !important;

            p {
              margin: 0;
            }

            h2 {
              margin-bottom: 1rem !important;
              color: var(--text-color-1);
            }

            .score {
              margin: 1.5rem 0 0.2rem 0 !important;
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              p {
                color: var(--text-color-2);
              }

              .no {
                color: var(--text-color-1);
                font-size: 1rem;
              }
            }

          }

          .easy {
            ion-progress-bar {
              --buffer-background: #E0F4E7;
              --progress-background: #00AF9B;
            }
          }

          .medium {
            ion-progress-bar {
              --buffer-background: #FFF4D9;
              --progress-background: #FFB904;
            }
          }

          .hard {
            ion-progress-bar {
              --buffer-background: #FDE4E3;
              --progress-background: #F9BBBA;
            }
          }
        }
      }

      .wrapper2 {
        padding: 1rem 0.5rem !important;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
          position: absolute;
          top: 10px;
          left: 15px;
          margin: 0;
          color: var(--text-color-1);
        }

        .canvas {
          margin-top: 1rem;
          width: 100%;

          canvas {
            height: auto;
          }
        }
      }
    }

    .submission {
      width: 100%;
      padding: 0.5rem 0.2rem !important;

      h1 {
        margin: 1rem;
      }

      ion-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0.5rem 0;

        .submission_header {
          font-size: 1rem;
          color: #000;
        }

        ion-label {
          padding: 0.2rem 0;
          width: 33%;
          text-overflow: ellipsis;
          text-align: center;
          align-self: center;
        }
      }
    }
  }

  .noData {
    margin: 2rem 0.4rem !important;

    p {
      font-size: 2rem;
      text-align: center;
      color: var(--text-color-2);
    }
  }
}

@media(max-width: 1000px) {
  ion-content {
    .container {
      .box {
        grid-template-columns: 99%;

        .wrapper1 {
          order: 0;

          .profile {
            width: 400px;
          }

          .problems {
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
          }
        }

        .wrapper2 {
          .canvas {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

@media(max-width: 480px) {
  ion-content {
    .container {
      .box {
        // grid-template-columns: 100%;

        .wrapper1 {
          order: 0;

          .profile {
            width: 100%;
          }

          .problems {
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
          }
        }
      }
    }
  }
}