<ion-content>
  <div class="container">
    <div class="wrapper1" [ngStyle]="{ 'background': getBackground() }">
      <div class="navbar">
        <ion-icon name="menu-outline" (click)="toggleBtn()"></ion-icon>
        <img src="../../../../assets/icon/homelogo.png" alt="">
        <ul>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/register">Register</a>
          </li>
          <li class="theme-toggle-button">
            <app-theme-toggle></app-theme-toggle>
          </li>
        </ul>
        <span class="toggle">
          <app-theme-toggle></app-theme-toggle>
        </span>
      </div>

      <div class="main-area">
        <h1 class="heading-1">Create a way you're proud of</h1>
        <p class="description">Discover the platform that gives you the content to improvise, manage your programming
          skills.</p>
        <div class="quote-area">
          <p class="quote">"Any fool can write a code that a computer can understand. Good programers write code that
            humans can understand."</p>
          <p class="author">~Martin Fowler</p>
        </div>
        <a routerLink="/login">
          <ion-button size="large">
            Get Started
          </ion-button>
        </a>
      </div>
    </div>

    <div class="wrapper2">
      <ion-card>
        <div class="contest" *ngIf="contests.length>0; else nodata">
          <ion-list class="contest_heading">
            <ion-label class="contest_heading_label">
              Platform
            </ion-label>
            <ion-label class="contest_heading_label">
              Contest
            </ion-label>
            <ion-label class="contest_heading_label">
              Starts In
            </ion-label>
          </ion-list>
          <ion-list *ngFor="let contest of contests.slice(0, 5)" class="contest_data">
            <ion-label>
              <a routerLink="/login" class="link">
                {{contest.name}}
              </a>
            </ion-label>
            <ion-label>{{contest.site}}</ion-label>
            <ion-label>{{contest.startIn}}</ion-label>
          </ion-list>
          <a routerLink="/login" class="more link">...more</a>
        </div>
        <ng-template #nodata>
          <span class="no_data">No Contest</span>
        </ng-template>
      </ion-card>
    </div>

    <div class="wrapper3">
      <ion-card>
        <ion-label class="faq_heading">FAQs</ion-label>
        <div class="faq_list">
          <div class="faq_question">
            <p class="question">Can I edit or update my coding profiles later?</p>
            <ion-icon name="chevron-forward-outline" class="faq_icon 1"></ion-icon>
            <p class="answer">Yes, you can edit your coding profiles at any time from your profile settings. Click the
              "Edit" button next to the profile you want to update.</p>
          </div>
          <div class="faq_question">
            <p class="question">What information can I find on my dashboard?</p>
            <ion-icon name="chevron-forward-outline" class="faq_icon"></ion-icon>
            <p class="answer">Your dashboard displays coding round details, upcoming contests, your rankings, and coding
              statistics for selected platforms like Codechef, Codeforces, SPOJ etc.</p>
          </div>
          <div class="faq_question">
            <p class="question">How do I track my progress in coding contests?</p>
            <ion-icon name="chevron-forward-outline" class="faq_icon"></ion-icon>
            <p class="answer">Our dashboard automatically tracks your contest performance and provides insights into
              your progress, including ratings, rankings, and solved problems.</p>
          </div>
          <div class="faq_question">
            <p class="question">Is my coding profile data secure on CP Dashboard?</p>
            <ion-icon name="chevron-forward-outline" class="faq_icon"></ion-icon>
            <p class="answer">We take data privacy seriously. Your coding profile data is encrypted and stored securely.
              We do not share your data with third parties.</p>
          </div>
          <div class="faq_question">
            <p class="question">What information is visible to other users?</p>
            <ion-icon name="chevron-forward-outline" class="faq_icon"></ion-icon>
            <p class="answer">By default, your coding profiles are visible only to you.</p>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>