<ion-content>
  <div class="container">
    <ion-buttons slot="start" class="back_button">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end" class="theme-toggle">
      <app-theme-toggle></app-theme-toggle>
    </ion-buttons> -->
    <div class="wrapper">
      <h1>Sign In</h1>
      <span class="switch_page">Don't have an account? <a routerLink="/register" class="switch_page_link">Sign
          Up</a></span>
      <app-social></app-social>
      <div class="seperator">
        <span class="line"></span>
        <span class="or">OR</span>
        <span class="line"></span>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" name="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="{{ hide ? 'text' : 'password' }}" name="password" formControlName="password"></ion-input>
          <ion-icon class="eye_icon" *ngIf="hide" title="Show" name="eye-outline" (click)="eye()"></ion-icon>
          <ion-icon class="eye_icon" *ngIf="!hide" title="Hide" name="eye-off-outline" (click)="eye()"></ion-icon>
        </ion-item>
        <a routerLink="/forgetpassword" class="forget_password">Forget Password?</a>
        <ion-button type="submit" class="submit">Sign In</ion-button>
      </form>
      <span class="bottom-description">By signing in, you agree to our Terms of Use and to receive CP Dashboard emails &
        updates</span>
    </div>
  </div>
</ion-content>