.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .back_button {
    position: fixed;
    top: 15px;
    left: 15px;
  }

  .theme-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    h1 {
      font-size: 2.5rem;
    }

    .switch_page {
      margin: 1rem 0 3rem;
      font-size: 0.9rem;
      text-align: center;

      .switch_page_link {
        cursor: pointer;
        text-decoration: none;
      }
    }

    .seperator {
      display: flex;
      flex-direction: row;
      align-items: center;

      .line {
        border: 1px solid grey;
        min-width: 100px;
        width: 10vw;
      }

      .or {
        margin: 2rem 1rem;
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;

      ion-item {
        border-bottom: 0.1px solid #333;
        margin: 0.5rem 0;

        .eye_icon {
          position: absolute;
          right: 15px;
          top: 25px;
          align-self: flex-end;
          cursor: pointer;
          z-index: 5;
        }
      }

      .forget_password {
        margin-top: 1rem;
        font-size: 0.9rem;
        align-self: flex-end;
        text-decoration: none;
      }

      ion-button {
        height: 45px;
        width: 150px;
        --border-radius: 15px !important;
        font-size: 14px;
        font-weight: 300px;
        --background: #000;
        color: #fff;
      }

      .submit {
        align-self: center;
        margin-top: 1rem;
        --background: black;
        color: #fff;
      }
    }

    .bottom-description {
      margin-top: 1rem;
      text-align: center;
      font-size: 0.7rem;
    }
  }
}