<ion-content>
  <h1 class="heading">About us</h1>
  <div class="container">
    <ion-card class="wrapper">
      <h1>Hello, We're Competitive Programmer's Dashboard</h1>
      <p class="para1">Ever heard about a company which gathers your all competitive programming platform profiles at
        the same place.</p>
      <p class="para2">That's exactly the problem we solve. If you have a hot idea, people deserve to know about it. We
        make sure our target audience takes notice of it.</p>
    </ion-card>
  </div>
</ion-content>