/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  user-select: none;
  // --background: #fff;
}

:root {
  --ion-background-color: #fff;
  --text-color-1: #000;
  --text-color-2: #4c4c4c;
  --link-color: #3880ff;
  --line-color: #808080;
  --button-background: #3A3A3A;
  --button-background-disabled: #1a1f23;
  --button-text-color: #fff;
  --icon-color: #4f4a4a;
  --card-background: #fff;
  --hover: rgb(245, 242, 242);
  --img-background: #fff;
  --checked: #000;
}

.dark {
  --ion-background-color: #010409;
  --text-color-1: #fff;
  --text-color-2: #d4d4d4;
  --button-background: #fff;
  --button-background-disabled: #f4f5f7;
  --button-text-color: #000;
  --icon-color: #d4cece;
  --card-background: #0d1017;
  --card-border: #161b1f;
  --hover: rgb(60, 64, 67);
  --img-background: #F6F6F6;
  --checked: #fff;
}

ion-back-button {
  color: var(--text-color-1);
}

ion-item {
  --color: var(--text-color-1);
}

ion-content {
  background-color: var(--ion-background-color);
}

ion-card,
ion-card-content {
  padding: 0rem !important;
  margin: 0rem !important;
  background-color: var(--card-background);
  border-color: var(--card-border);
}

.heading-1 {
  font-size: 4rem;
}

.heading-2 {
  font-size: 2.5rem;
  color: var(--text-color-1);
}

.heading-3 {
  font-size: 1.2rem;
  color: var(--text-color-1);
}

.heading-4 {
  font-size: 1rem;
  color: var(--text-color-1);
}

.heading-5 {
  font-size: 0.7rem;
  color: var(--text-color-1);
}

.link {
  color: var(--link-color);
}

ion-select {
  color: var(--text-color-1);
}

.alert-radio-label {
  color: var(--text-color-1) !important;
}

.alert-wrapper {
  background: var(--card-background) !important;
  border-color: var(--card-border) !important;

  .alert-head h2 {
    color: var(--text-color-1);
  }

  .alert-message {
    color: var(--text-color-2);
  }

  .alert-checkbox-icon {
    border-color: var(--text-color-2);
  }

  [aria-checked=true].sc-ion-alert-md .alert-checkbox-icon.sc-ion-alert-md {
    border-color: var(--text-color-2) !important;
    background-color: var(--ion-background-color) !important;
  }

  [aria-checked=true].sc-ion-alert-md .alert-checkbox-inner.sc-ion-alert-md {
    border-color: var(--checked) !important;
  }

  .alert-checkbox-label {
    color: var(--text-color-1);
  }
}

// ion-content {
//   --offset-bottom: none !important;
//   --overflow: auto;
//   background: var(--ion-toolbar-background, var(--ion-background-color, #000000)) !important;

//   &::-webkit-scrollbar {
//     width: 5px;
//     height: 5px;
//     border: 1px solid var(--text-color-1);
//   }

//   &::-webkit-scrollbar-track {
//     background: var(--card-background);
//   }

//   &::-webkit-scrollbar-thumb {
//     background: var(--icon-color);
//   }

//   &::-webkit-scrollbar-thumb:hover {
//     background: var(--link-color);
//   }

//   .inner-scroll {
//     scrollbar-width: thin;
//   }
// }