<ion-card class="sidebar">
  <div class="logo_content">
    <ion-icon name="menu-outline" id="btn" (click)="toggleBtn()"></ion-icon>
    <img [src]="theme === 'dark' ? '../../../../assets/icon/logo-dark.png': '../../../../assets/icon/logo-light.png'"
      alt="logo" class="logo_name">
  </div>

  <ul (mouseover)="overBtn()" (mouseout)="outBtn()">
    <li>
      <a routerLink="/User/dashboard" routerLinkActive="activate">
        <ion-icon name="grid-outline"></ion-icon>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/User/platforms" routerLinkActive="activate">
        <ion-icon name="barbell-outline"></ion-icon>
        <span>Platforms</span>
      </a>
    </li>
    <li>
      <a routerLink="/User/resources" routerLinkActive="activate">
        <ion-icon name="aperture-outline"></ion-icon>
        <span>Resources</span>
      </a>
    </li>
    <li>
      <a routerLink="/User/about" routerLinkActive="activate">
        <ion-icon name="people-outline"></ion-icon>
        <span>About</span>
      </a>
    </li>
    <li>
      <a routerLink="/User/contact-us" routerLinkActive="activate">
        <ion-icon name="mail-outline"></ion-icon>
        <span>Contact Us</span>
        <span routerLinkActive="active"></span>
      </a>
    </li>
  </ul>

  <div class="toggle">
    <app-theme-toggle></app-theme-toggle>
  </div>

  <div class="logout">
    <ion-button class="ion-no-padding" (click)="logout()">
      <ion-icon name="log-out-outline" id="log_out"></ion-icon>
    </ion-button>
    <span>Logout</span>
  </div>

</ion-card>
<ion-router-outlet></ion-router-outlet>